@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 333, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #fff0de;
}